
.home-page-container{    
    overflow-x: hidden;
    display: grid;
    justify-content: center;
    .container{
    //   max-width: 1425px;
      margin-right: auto;
      margin-left: auto;
    }   
    section{
        overflow: hidden;
        max-width: 1425px;
    }
    .developer_form{
        margin: 2% 0;
        label {
            font-weight: 600;
            color: #edcbaf;
            letter-spacing: .8px;
            font-size: 1.1rem;
        }
        body {
          background: #f1f1f1;
        }
        .box8{
          box-shadow: 0px 0px 5px 1px #999;
        }
        .mx-t3{
          margin-top: -3rem;
        }
        .jumbotron {
            background-color: rgba(43,41,46,1) !important;
        }
        h2{
            color: #edcbaf;
        }
        .form-check{
            margin-right: 1rem;
            label{
                color: #fff;
            }
        }
        .form-control{
            border-radius: .4rem;
            
        }
        button.btn{
            width: 50%; 
            background-color: #edcbaf;
            color: #2b292e;
            font-size: 1.3rem;
            border: transparent;
            font-weight: 700;
            border-radius: .4rem;
        }  
    }
    @media (max-width: 575.9px){
        .jumbotron {
            padding: 4rem 2rem;
        }
        .developer_form {
            padding: 0 4% !important;
        }
        
    }
    p a{
        text-decoration: underline;
        // border: 1px solid #edcbaf;
        // margin: 0 0.5rem;
        padding: 0.5rem;
        color: wheat;
    }
    .multi_checkbox{
        mask-border: 1rem;
        form{
            // margin: 50px auto;
            // padding: 20px;
            width: 100%; 
            max-width: 320px;
            height:100px;
            overflow-y:scroll;
            box-shadow: 0 0 10px rgba(0,0,0,.15);
            border-radius: 5px;
            
            .form-group{
            // padding:5px 0;
            margin-bottom: 0px;
            }
            
            input[type=checkbox]{
                margin-right: .6rem;
            }
        }            
    }
}