<div class="home-page-container">
  <section>
    <div class="developer_form">
      <div class="container mt-3">
        <form>
          <div class="row jumbotron box8">
            <div class="col-sm-12 mx-t3 mb-4">
              <h2 class="text-center">INTIMATION TO DEVELOPER</h2>
            </div>
            
            <!-- <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="societyName">Society Name</label>
              <input type="text" class="form-control" name="societyName" id="societyName"
                placeholder="Enter your Society Name" required>
            </div>
            <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="address">Address of Society</label>
              <input type="text" class="form-control" name="address" id="address" placeholder="Enter your Address"
                required>
            </div>
            <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="sizeOfPlot">Size Of Plot</label>
              <input type="text" class="form-control" name="sizeOfPlot" id="sizeOfPlot"
                placeholder="Enter your size of Plot" required>
            </div>
            <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="plotDimensions">Plot Dimensions</label>
              <input type="text" class="form-control" name="plotDimensions" id="plotDimensions"
                placeholder="Enter Dimension of Plot" required>
            </div>
            <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="approchRoadWidth">Width of Approch Road </label>
              <input type="text" class="form-control" name="approchRoadWidth" id="approchRoadWidth"
                placeholder="Enter Width of Approch Road" required>
            </div>
            <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="totalBuiltUpBldgArea">Total Building BuiltUp Area</label>
              <input type="text" class="form-control" name="totalBuiltUpBldgArea" id="totalBuiltUpBldgArea"
                placeholder="Enter Total BuiltUp Area" required>
            </div>
            <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="totalCommercialBuiltUpBldgArea">Total Commercial BuiltUp Area</label>
              <input type="text" class="form-control" name="totalCommercialBuiltUpBldgArea"
                id="totalCommercialBuiltUpBldgArea" placeholder="Enter Total Commercial BuiltUp Area" required>
            </div>
            <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="totalResidentialBuiltUpBldgArea">Total Residential BuiltUp Area</label>
              <input type="text" class="form-control" name="totalResidentialBuiltUpBldgArea"
                id="totalResidentialBuiltUpBldgArea" placeholder="Enter Total Residential BuiltUp Area" required>
            </div>
            <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="numberOfCommercialTenaments">Number Of Commercial Tenaments</label>
              <input type="text" class="form-control" name="numberOfCommercialTenaments"
                id="numberOfCommercialTenaments" placeholder="Enter Number Of Commercial Tenaments" required>
            </div>
            <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="numberOfResidentialTenaments">Number Of Residential Tenaments</label>
              <input type="text" class="form-control" name="numberOfResidentialTenaments"
                id="numberOfResidentialTenaments" placeholder="Enter Number Of Residential Tenaments" required>
            </div>
            <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="ageOfBuilding">Age Of Building</label>
              <input type="text" class="form-control" name="ageOfBuilding" id="ageOfBuilding"
                placeholder="Enter Age Of Building" required>
            </div> -->


            <!-- <div class="col-sm-12 col-lg-12 col-md-12 form-group mb-0">
              <p style="font-size: 1.5rem; color: #edcbaf; margin-top: 2rem;">Are you <a href="">Interested</a>? OR <a
                  href="">Not Interested</a>.</p>
              <div class="row">
                  <div class="col-sm-4 form-group mb-0" style=" display: flex; width: 100%; justify-content: space-between;">
                    <button class="btn">Submit</button> 
                  </div>
                  <div class="col-sm-4 form-group mb-0" style=" display: flex; width: 100%; justify-content: space-between;">
                    <button class="btn">Submit</button> 
                  </div>
                </div>
            </div>             -->
            
            
            <div class="col-sm-12 col-lg-12 col-md-12 form-group mb-0" style="margin-top: 1.3rem;">  
              <div class="row">
                <div class="col-lg-3 col-md-6  form-group">
                  <input type="checkbox" class="form-check d-inline" id="chb" required><label for="chb"
                    class="form-check-label">&nbsp;Send to All.
                  </label>
                </div>
                <div class="col-lg-5 col-md-6 form-group multi_checkbox">
                  <label for="opt-select" >Or Send to Selected developers</label>
                  <form >
                    <div class="form-group" >
                      <input type="checkbox" name="option 1" id="opt-one">
                      <label for="opt-one" >amit </label>
                    </div>
                    
                    <div class="form-group" >
                      <input type="checkbox" name="option 2" id="opt-two">
                      <label for="opt-two" >testing</label>
                    </div>
                    
                    <div class="form-group" >
                      <input type="checkbox" name="option 3" id="opt-three">
                      <label for="opt-three" >demo mailid</label>
                    </div>
                    <div class="form-group" >
                      <input type="checkbox" name="option 1" id="opt-one">
                      <label for="opt-one" >A dungarwal</label>
                    </div>
                    
                    <div class="form-group" >
                      <input type="checkbox" name="option 2" id="opt-two">
                      <label for="opt-two" >testing_mailid </label>
                    </div>
                    
                    <div class="form-group" >
                      <input type="checkbox" name="option 3" id="opt-three">
                      <label for="opt-three" >Option 3</label>
                    </div>
                  </form>
                </div>
                <div class="col-lg-4 col-md-6 form-group mb-0">
                  <button class="btn">Submit</button> 
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>