<div class="home-page-container">
  <!-- ======= About us Section Start ======= -->
  <section>
    <div class="about-row">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 col-space">
          <h1 class="supra FAQ_header">FAQ’S For Re-Development</h1>
        </div>
        <div class="col-lg-12 col-sm-12 col-md-12 col-space">
          <div class="row row-reverse">
            <div class="col-lg-6 col-sm-12 col-md-12">
              <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1"> <span>~</span> </div>
                <div class="col-lg-11 col-sm-11 col-md-11">
                  <h1> Why Redevelopment?</h1>
                  <p [ngClass]="{'limitTextHeight': isReadMore}" [innerHTML]="text"> </p>
                  <button type="button" (click)="isReadMore=!isReadMore" class="readmore_button">
                    {{ isReadMore ? 'Read More': 'Read Less' }}
                  </button>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-md-12">
              <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1"> <span>~</span> </div>
                <div class="col-lg-11 col-sm-11 col-md-11">
                  <h1>What are benefits of re-development? </h1>
                  <p [ngClass]="{'limitTextHeight': isReadMore1}" [innerHTML]="text1"> </p>
                  <!-- <button type="button" (click)="isReadMore1=!isReadMore1" class="readmore_button">
                    {{ isReadMore1 ? 'Read More': 'Read Less' }}
                  </button> -->
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-md-12">
              <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1"> <span>~</span> </div>
                <div class="col-lg-11 col-sm-11 col-md-11">
                  <h1>What documents are required for society to go for re-development? </h1>
                  <p [ngClass]="{'limitTextHeight': isReadMore2}" [innerHTML]="text2"> </p>
                  <button type="button" (click)="isReadMore2=!isReadMore2" class="readmore_button">
                    {{ isReadMore2 ? 'Read More': 'Read Less' }}
                  </button>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-sm-12 col-md-12">
              <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1"> <span>~</span> </div>
                <div class="col-lg-11 col-sm-11 col-md-11">
                  <h1>What are the stages of re-development?</h1>
                  <p [ngClass]="{'limitTextHeight': isReadMore3}" [innerHTML]="text3"> </p>
                  <button type="button" (click)="isReadMore3=!isReadMore3" class="readmore_button">
                    {{ isReadMore3 ? 'Read More': 'Read Less' }}
                  </button>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-sm-12 col-md-12">
              <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1"> <span>~</span> </div>
                <div class="col-lg-11 col-sm-11 col-md-11">
                  <h1>What precautions societies shall take in the process of re-development? </h1>
                  <p [ngClass]="{'limitTextHeight': isReadMore4}" [innerHTML]="text4"> </p>
                  <button type="button" (click)="isReadMore4=!isReadMore4" class="readmore_button">
                    {{ isReadMore4 ? 'Read More': 'Read Less' }}
                  </button>
                </div>
              </div>


            </div>

            <div class="col-lg-6 col-sm-12 col-md-12">
              <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1"> <span>~</span> </div>
                <div class="col-lg-11 col-sm-11 col-md-11">
                  <h1>What are the points that we must consider in negotiation with developer?</h1>
                  <p [ngClass]="{'limitTextHeight': isReadMore5}" [innerHTML]="text5"> </p>
                  <button type="button" (click)="isReadMore5=!isReadMore5" class="readmore_button">
                    {{ isReadMore5 ? 'Read More': 'Read Less' }}
                  </button>
                </div>
              </div>


            </div>

            <div class="col-lg-6 col-sm-12 col-md-12">
              <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1"> <span>~</span> </div>
                <div class="col-lg-11 col-sm-11 col-md-11">
                  <h1>What is project feasibility report? </h1>
                  <p [ngClass]="{'limitTextHeight': isReadMore6}" [innerHTML]="text6"> </p>
                  <button type="button" (click)="isReadMore6=!isReadMore6" class="readmore_button">
                    {{ isReadMore6 ? 'Read More': 'Read Less' }}
                  </button>
                </div>
              </div>


            </div>
            <div class="col-lg-6 col-sm-12 col-md-12">
              <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1"> <span>~</span> </div>
                <div class="col-lg-11 col-sm-11 col-md-11">
                  <h1>How to select developer?</h1>
                  <p [ngClass]="{'limitTextHeight': isReadMore7}" [innerHTML]="text7"> </p>
                  <button type="button" (click)="isReadMore7=!isReadMore7" class="readmore_button">
                    {{ isReadMore7 ? 'Read More': 'Read Less' }}
                  </button>
                </div>
              </div>


            </div>

            <div class="col-lg-6 col-sm-12 col-md-12">
              <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1"> <span>~</span> </div>
                <div class="col-lg-11 col-sm-11 col-md-11">
                  <h1>Is it mandatory that society’s building must be 30 years old to go for redevelopment?</h1>
                  <p [ngClass]="{'limitTextHeight': isReadMore8}" [innerHTML]="text8"> </p>
                  <button type="button" (click)="isReadMore8=!isReadMore8" class="readmore_button">
                    {{ isReadMore8 ? 'Read More': 'Read Less' }}
                  </button>
                </div>
              </div>


            </div>

            <div class="col-lg-6 col-sm-12 col-md-12">
              <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1"> <span>~</span> </div>
                <div class="col-lg-11 col-sm-11 col-md-11">
                  <h1>Whether apartments can go for re-development?</h1>
                  <p [ngClass]="{'limitTextHeight': isReadMore9}" [innerHTML]="text9"> </p>
                  <button type="button" (click)="isReadMore9=!isReadMore9" class="readmore_button">
                    {{ isReadMore9 ? 'Read More': 'Read Less' }}
                  </button>
                </div>
              </div>


            </div>

            <div class="col-lg-6 col-sm-12 col-md-12">
              <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1"> <span>~</span> </div>
                <div class="col-lg-11 col-sm-11 col-md-11">
                  <h1>Can society evict the members who are opposing for re-development?</h1>
                  <p [ngClass]="{'limitTextHeight': isReadMore10}" [innerHTML]="text10"> </p>
                  <button type="button" (click)="isReadMore10=!isReadMore10" class="readmore_button">
                    {{ isReadMore10 ? 'Read More': 'Read Less' }}
                  </button>
                </div>
              </div>


            </div>

            <div class="col-lg-6 col-sm-12 col-md-12">
              <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1"> <span>~</span> </div>
                <div class="col-lg-11 col-sm-11 col-md-11">
                  <h1>Can any one or minority of members stop the process of re-development of society?</h1>
                  <p [ngClass]="{'limitTextHeight': isReadMore11}" [innerHTML]="text11"> </p>
                  <button type="button" (click)="isReadMore11=!isReadMore11" class="readmore_button">
                    {{ isReadMore11 ? 'Read More': 'Read Less' }}
                  </button>
                </div>
              </div>


            </div>

            <div class="col-lg-6 col-sm-12 col-md-12">
              <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1"> <span>~</span> </div>
                <div class="col-lg-11 col-sm-11 col-md-11">
                  <h1>Is it mandatory for society to appoint advocate & architect before going for re-development</h1>
                  <p [ngClass]="{'limitTextHeight': isReadMore12}" [innerHTML]="text12"> </p>
                  <button type="button" (click)="isReadMore12=!isReadMore12" class="readmore_button">
                    {{ isReadMore12 ? 'Read More': 'Read Less' }}
                  </button>
                </div>
              </div>


            </div>

            <div class="col-lg-6 col-sm-12 col-md-12">
              <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1"> <span>~</span> </div>
                <div class="col-lg-11 col-sm-11 col-md-11">
                  <h1> Is it mandatory to do structural audit before going for re-development of society?</h1>
                  <p [ngClass]="{'limitTextHeight': isReadMore13}" [innerHTML]="text13"> </p>
                  <!-- <button type="button" (click)="isReadMore13=!isReadMore13" class="readmore_button">
                    {{ isReadMore13 ? 'Read More': 'Read Less' }}
                  </button> -->
                </div>
              </div>


            </div>

            <div class="col-lg-6 col-sm-12 col-md-12">
              <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1"> <span>~</span> </div>
                <div class="col-lg-11 col-sm-11 col-md-11">
                  <h1>Whether GST is applicable for the new houses allotted to the members of the society?
                    What is applicable rate of GST in such case?</h1>
                  <p [ngClass]="{'limitTextHeight': isReadMore14}" [innerHTML]="text14"> </p>
                  <button type="button" (click)="isReadMore14=!isReadMore14" class="readmore_button">
                    {{ isReadMore14 ? 'Read More': 'Read Less' }}
                  </button>
                </div>
              </div>


            </div>

            <div class="col-lg-6 col-sm-12 col-md-12">
              <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1"> <span>~</span> </div>
                <div class="col-lg-11 col-sm-11 col-md-11">
                  <h1>At what stage advocate & architect shall be appointed? </h1>
                  <p [ngClass]="{'limitTextHeight': isReadMore15}" [innerHTML]="text15"> </p>
                  <button type="button" (click)="isReadMore15=!isReadMore15" class="readmore_button">
                    {{ isReadMore15 ? 'Read More': 'Read Less' }}
                  </button>
                </div>
              </div>


            </div>

            <div class="col-lg-6 col-sm-12 col-md-12">
              <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1"> <span>~</span> </div>
                <div class="col-lg-11 col-sm-11 col-md-11">
                  <h1>What is self-development?</h1>
                  <p [ngClass]="{'limitTextHeight': isReadMore16}" [innerHTML]="text16"> </p>
                  <button type="button" (click)="isReadMore16=!isReadMore16" class="readmore_button">
                    {{ isReadMore16 ? 'Read More': 'Read Less' }}
                  </button>
                </div>
              </div>


            </div>

            <div class="col-lg-6 col-sm-12 col-md-12">
              <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1"> <span>~</span> </div>
                <div class="col-lg-11 col-sm-11 col-md-11">
                  <h1>Whether any special benefits in the form of
                    FSI/TDR/FAR is available to the societies.</h1>
                  <p [ngClass]="{'limitTextHeight': isReadMore17}" [innerHTML]="text17"> </p>
                  <button type="button" (click)="isReadMore17=!isReadMore17" class="readmore_button">
                    {{ isReadMore17 ? 'Read More': 'Read Less' }}
                  </button>
                </div>
              </div>

              
            </div>

            <div class="col-lg-6 col-sm-12 col-md-12">
              <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1"> <span>~</span> </div>
                <div class="col-lg-11 col-sm-11 col-md-11">
                  <h1>Whether Self-development is more beneficial than by appointing Developer? And what are the
                    benefits?</h1>
                  <p [ngClass]="{'limitTextHeight': isReadMore18}" [innerHTML]="text18"> </p>
                  <button type="button" (click)="isReadMore18=!isReadMore18" class="readmore_button">
                    {{ isReadMore18 ? 'Read More': 'Read Less' }}
                  </button>
                </div>
              </div>


            </div>

            <div class="col-lg-6 col-sm-12 col-md-12">
              <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1"> <span>~</span> </div>
                <div class="col-lg-11 col-sm-11 col-md-11">
                  <h1>Whether banks provide finance to the societies for self-development?</h1>
                  <p [ngClass]="{'limitTextHeight': isReadMore19}" [innerHTML]="text19"> </p>
                  <button type="button" (click)="isReadMore19=!isReadMore19" class="readmore_button">
                    {{ isReadMore19 ? 'Read More': 'Read Less' }}
                  </button>
                </div>
              </div>


            </div>

            <div class="col-lg-6 col-sm-12 col-md-12">
              <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1"> <span>~</span> </div>
                <div class="col-lg-11 col-sm-11 col-md-11">
                  <h1>Whether conveyance is required after completion
                    of re-development?</h1>
                  <p [ngClass]="{'limitTextHeight': isReadMore20}" [innerHTML]="text20"> </p>
                  <button type="button" (click)="isReadMore20=!isReadMore20" class="readmore_button">
                    {{ isReadMore20 ? 'Read More': 'Read Less' }}
                  </button>
                </div>
              </div>


            </div>

            <div class="col-lg-6 col-sm-12 col-md-12">
              <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1"> <span>~</span> </div>
                <div class="col-lg-11 col-sm-11 col-md-11">
                  <h1>What are the threats in Self-development?</h1>
                  <p [ngClass]="{'limitTextHeight': isReadMore21}" [innerHTML]="text21"> </p>
                  <button type="button" (click)="isReadMore21=!isReadMore21" class="readmore_button">
                    {{ isReadMore21 ? 'Read More': 'Read Less' }}
                  </button>
                </div>
              </div>


            </div>

            <div class="col-lg-6 col-sm-12 col-md-12">
              <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1"> <span>~</span> </div>
                <div class="col-lg-11 col-sm-11 col-md-11">
                  <h1>What are the points of negations with developer,
                    in re-development of society?</h1>
                  <p [ngClass]="{'limitTextHeight': isReadMore22}" [innerHTML]="text22"> </p>
                  <button type="button" (click)="isReadMore22=!isReadMore22" class="readmore_button">
                    {{ isReadMore22 ? 'Read More': 'Read Less' }}
                  </button>
                </div>
              </div>


            </div>

            <div class="col-lg-6 col-sm-12 col-md-12">
              <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1"> <span>~</span> </div>
                <div class="col-lg-11 col-sm-11 col-md-11">
                  <h1>How much increased area should society expect? </h1>
                  <p [ngClass]="{'limitTextHeight': isReadMore23}" [innerHTML]="text23"> </p>
                  <!-- <button type="button" (click)="isReadMore23=!isReadMore23" class="readmore_button">
                    {{ isReadMore23 ? 'Read More': 'Read Less' }}
                  </button> -->
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-sm-12 col-md-12">
              <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1"> <span>~</span> </div>
                <div class="col-lg-11 col-sm-11 col-md-11">
                  <h1>Why we should choose CASTLERS?</h1>
                  <p [ngClass]="{'limitTextHeight': isReadMore24}" [innerHTML]="text24"> </p>
                  <button type="button" (click)="isReadMore24=!isReadMore24" class="readmore_button">
                    {{ isReadMore24 ? 'Read More': 'Read Less' }}
                  </button>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-6 col-sm-12 col-md-12">
              <h1>At what stage advocate & architect shall be appointed? </h1>
              <p [ngClass]="{'limitTextHeight': isReadMore15}" [innerHTML]="text15"> </p>
              <button type="button" (click)="isReadMore15=!isReadMore15" class="readmore_button">
                {{ isReadMore15 ? 'Read More': 'Read Less' }}
              </button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ======= About us Section End ======= -->

</div>