<div class="home-page-container">
  <div class="navbar-content">
    <nav
      class="navbar navbar-expand-lg navbar-light navbar-background-color navbar-fixed-top gotham_medium"
    >
      <a class="navbar-brand"
        ><img src="../../assets/images/castlers_logoNew.png"
      /></a>
      <button
        class="navbar-toggler"
       
      >
        <span (click)="menueshow()" class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [ngClass]="menuVisible ? '' : 'nodisplay'" >
        <ul class="navbar-nav mr-auto" style="width: 100%;">
          <li class="nav-item active">
            <a (click)="onTop()" class="nav-link" routerLink="/" aria-expanded="true" aria-controls="widget1"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="onTop()"  routerLink="/aboutUs" routerLinkActive="active"
              >About Us</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="onTop()" href="#">Tie-up Developers</a>
          </li>
          <!--    <li class="nav-item dropdown">
             <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Our Clients
            </a> -->
          <!-- <div
              class="dropdown-menu"
              aria-labelledby="navbarDropdownMenuLink"
              style="background-color: #edcbaf"
            >
              <a class="dropdown-item gotham_medium" href="#">Action</a>
              <a class="dropdown-item gotham_medium" href="#">Another action</a>
               <a class="dropdown-item gotham_medium" href="#">Something else here</a> 
            </div> 
          </li> 
          </li> -->

          <li class="nav-item">
            <a class="nav-link" (click)="onTop()" href="#">Our Clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="onTop()" href="#">E-Tenders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="onTop()" href="#">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"(click)="onTop()"  href="#">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="onTop()" routerLink="faq">FAQ</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" (click)="onTop()">Presentation</a>
          </li>
          <li class="nav-item dropdown" *ngIf="user_role?.role == 'Admin'">
            <a (click)="onTop()"
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Admin
            </a>
            <div
              class="dropdown-menu"
              aria-labelledby="navbarDropdownMenuLink"
              style="background-color: #edcbaf"
            >
              <a (click)="onTop()" class="dropdown-item gotham_medium" routerLink="/"
                >Organisation Registration</a
              >
              <a (click)="onTop()"
                class="dropdown-item gotham_medium"
                routerLink="/societyRegistration"
                >Society Registration</a
              >
              <a (click)="onTop()"
                class="dropdown-item gotham_medium"
                routerLink="/LetterOfInterest"
                >Society Updation</a
              >
              <a (click)="onTop()" class="dropdown-item gotham_medium" routerLink="/selectSociety"
                >Old Society Updation</a
              >
              <a (click)="onTop()"
                class="dropdown-item gotham_medium"
                routerLink="/UpdateSocietyMember"
                >Update Society Member</a
              >
              <a (click)="onTop()" class="dropdown-item gotham_medium" routerLink="/"
                >Display Society</a
              >
            </div>
          </li>
          <li class="nav-item" *ngIf="login">
            <a (click)="onTop()" class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item" *ngIf="!login">
            <a (click)="onTop()" class="nav-link" (click)="logout()" routerLink="/">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="logoImg">
        <img src="../../assets/images/castlers_logoNew.png" alt="" />
      </div>
      <div class="carousel-item active">
        <div class="img_brightness">
          <img
            class="d-block w-100"
            src="../assets/images/slide_image-1.png"
            alt="First slide"
          />
        </div>
        <div class="carousel-caption d-md-block r3">
          <h1>
            We are Castlers of your <br />
            <span class="yellow-color">Dream House</span>
          </h1>
          <!-- <p>We had such a great time in LA!</p> -->
        </div>
      </div>
      <div class="carousel-item">
        <div class="img_brightness">
          <img
            class="d-block w-100"
            src="../assets/images/slider-img2.png"
            alt="Second slide"
          />
        </div>
        <div class="carousel-caption d-md-block r3">
          <h1>
            We are Castlers of your <br />
            <span class="yellow-color">Dream House</span>
          </h1>
          <!-- <p>We had such a great time in LA!</p> -->
        </div>
      </div>
      <div class="carousel-item">
        <div class="img_brightness">
          <img
            class="d-block w-100"
            src="../assets/images/slide_image-1.png"
            alt="Third slide"
          />
        </div>
        <div class="carousel-caption d-md-block r3">
          <h1>
            We are Castlers of your <br />
            <span class="yellow-color">Dream House</span>
          </h1>
          <!-- <p>We had such a great time in LA!</p> -->
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleControls"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleControls"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
