  <!-- Footer Start -->
  <section class="footer " style="background-color: #606879;">
    <div class="container">
      <div class="row row-sixth">
        <!-- <img src="../../assets/images/page_65.png"> -->
        <div class="footer-content">
          <div class="foter-details">
            <div class="container">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                  <div class="logo-section">
                    <div class="logo">
                      <a href="#">
                        <img src="../../assets/images/castlers_logoNew.png" alt="">
                      </a>
                    </div>
                    <div class="details">
                      <div class="details-data "><i class="fa fa-phone"></i><a href="#" class="gotham_medium">(020) - 24534388</a></div>
                      <div class="details-data "><i class="fa fa-envelope"></i><a href="#" class="gotham_medium">info@castlers.co.in</a></div>
                      <div class="details-data gotham_medium"><i class="fa fa-map-marker"></i>Flat No. 8, 2nd Floor, Rajlaxmi Apartments, Plot No. 39, Laxmi Park , 103, Navi Peth, Pune, Maharashtra - 411030</div>
                    </div>                    
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                  <div class="head-details">
                    <h4>Services</h4>
                  </div>
                  <div class="service-data">
                    <!-- <ul>
                      <li class=""><a href="#" class="gotham_medium">Project Planning</a></li>
                      <li class=""><a href="#" class="gotham_medium">Feasibility Study</a></li>
                      <li class=""><a href="#" class="gotham_medium">Project Funding</a></li>
                      <li class=""><a href="#" class="gotham_medium">Project Plan Review</a></li>
                      <li class=""><a href="#" class="gotham_medium">Investor Presentation and implementation</a></li>
                    </ul> -->
                  </div>
                </div>
                <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                  <div class="head-details">
                    <h4>Solutions</h4>
                  </div>
                  <div class="service-data">
                    <ul>
                      <li class=""><a href="#" class="gotham_medium">Compare Solutions</a></li>
                      <li class=""><a href="#" class="gotham_medium">Standard Plan - ₹499</a></li>
                      <li class=""><a href="#" class="gotham_medium">Plus Plan - ₹799</a></li>
                      <li class=""><a href="#" class="gotham_medium">Premium Plan - ₹999</a></li>
                      <li class=""><a href="#" class="gotham_medium">Pro Plan - ₹1399</a></li>
                    </ul>
                  </div>
                </div> -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                  <div class="head-details">
                    <h4>Connect</h4>
                  </div>
                  <div class="social-link">
                    <div class="row">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                  </div>
                  <p class="gotham_medium">
                    We bring the years, globle experience and stamina to guide our clients through new and often
                    disruptive realities.
                  </p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      
    </div>
    <div class="footer-bottom" style="background-color: black;margin-top: 3rem;padding: 1rem 0;">
      <div class="row">
        <!-- <div class="col-lg-1"></div> -->
        <div class="col-lg-6 col-padd-footer">
          <h6 class="rowcenter">@2023 castlers. All rights Reserved</h6>
        </div>
        <!-- <div class="col-lg-4"></div> -->
        <div class="col-lg-6 col-padd-footer">
          <h6 class="rowcenter gotham_medium"><a href="#" >Privacy Policy</a> </h6>
        </div>
      </div>
    </div>
  </section>


  <!-- Footer End -->