<div class="home-page-container">
    <section>
        <div class="developer_form">
            <div class="container mt-3">
                <form #updatesocitey="ngForm" (ngSubmit)="select(updatesocitey)">
                    <div class="row jumbotron box8">
                        <div class="col-sm-12 mx-t3 mb-4">
                            <h2 class="text-center">Update Society Registration Form</h2>
                        </div>
                        <div class="col-lg-4 col-md-6  form-group">
                            <label class="metro" for="typeOfDevelopment">Select Society</label>
                            <select id="typeOfDevelopment" [(ngModel)]="selectedsocietyid" name="typeOfDevelopment" class="form-control browser-default custom-select">
                                <option value="select" disabled selected> -Select Society- </option>
                                <option [value]="allsociety.societyRegisteredCode" *ngFor="let allsociety of allregistersociety">{{allsociety.societyName}}</option>
                                <!-- <option value="2">Limited Self Development</option>
                                <option value="3">Self Development</option> -->
                            </select>
                        </div>
                        <div class="col-sm-12 form-group mb-0" style=" display: flex; justify-content: center; margin-top: 2rem;">
                            <button class="btn" style="margin-right: 10px;"  type="submit" >Next</button> 
                          </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
