<div class="home-page-container">
  <!-- ======= About us Section Start ======= -->
  <section>
    <div class="about-row">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 col-space">
          <div class="row row-reverse">
            <div class="col-lg-7 col-sm-12 col-md-12">
              <div class="header-details">
                <span class="yellow-line"></span>
                <h1 class="supra">About Us</h1>
              </div>
              <div class="about-para">
                <p class="metro">We are a team of expert consultants with a deep insight into and knowledge of every aspect of
                  redevelopment. We aim to empower societies by standardizing and accelerating the process of
                  redevelopment.
                  We evaluate the various risks involved in the process and ensure strict monitoring throughout. To help a
                  society choose a deal best suited to its members, we offer services for three distinct variants of
                  redevelopment namely Conventional Development, Self-development and Limited Self-development Our team
                  has
                  also evolved a significant method of securing finance for self-development ensuring end-to-end fiscal
                  management to eliminate the risk of project failure. We have also partnered up with renowned developers
                  who excel in the field of redevelopment and are reputed to complete projects within the stipulated time.
                </p>
              </div>
            </div>
            <div class="col-lg-5 col-sm-12 col-md-12" style="display: grid;justify-content: center; margin-bottom: 2rem;">
              <img src="../../assets/images/king.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ======= About us Section End ======= -->

  <!-- ======= Our Aims Section Start ======= -->
  <section>
    <div class="our-aims-row">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-lg-5 col-sm-12 col-md-12 our-aims-free"></div>
            <div class="col-lg-7 col-sm-12 col-md-12">
              <div class="header-details">
                <span class="yellow-line"></span>
                <h1 class="supra">Our Aims</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-5 col-sm-12 col-md-12">
              <img src="../../assets/images/Building.png" alt="">
            </div>
            <div class="col-lg-7 col-sm-12 col-md-12">
              <div class="content">
                <p class="metro">STANDARDIZATION <br>
                  In the process of standardization, we have designed step wise legal and technical compliancesupported
                  by several reports and certification from experts whichsecures ultimate success in re-development of
                  the society. We have standardized various agreements required to be executed in the process of
                  Re-developmentwhich minimize the time occupied in documentation process.</p>
                <p class="metro">ACCELERATION <br>
                  We deal redevelopment process with corporate approach which ensures timely compliance of each stage.
                  Furthermore the covenants standardized by us are pre-approved
                  by the developers who are associated with us; as such it significantly reduces time and ultimately
                  accelerates the entire process of redevelopment.</p>
                <p class="metro">EMPOWERMENT OF THE SOCIETY <br>
                  With systematic approach towards redevelopment of society we ensure strong legal and technical support
                  to the society which entitles society to know potential
                  of their property. We also make suitable deal structuring for the society which enhance negotiation
                  power of the society. Our technical team keeps surveillance
                  over progress of construction of new building to monitor timely progress of re-development.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ======= Our Aims Section End ======= -->

  <!-- Start Our Values Section -->
  <section>
    <div class="Our-values-row">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 col-space">
          <div class="row">
            <div class="col-lg-7 col-sm-12 col-md-12">
              <div class="header-details">
                <span class="yellow-line"></span>
                <h1 class="supra">Our Values</h1>
              </div>
              <p class="metro">Our core value is to bring comprehensive transparency in redevelopment process to create trustworthy
                ecosystem for members of the society. We have strong faith on Team success so we ensure participation of
                each member in the redevelopment.
              </p>
            </div>
            <div class="col-lg-5 col-sm-12 col-md-12"
              style="display: grid;justify-content: center; margin-bottom: 2rem;">
              <img src="../../assets/images/pawns.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Our Values Section -->

  <section>
    <div class="Differentiate-row">
      <div class="row">
        <div class="col-12">
          <div class="header-details">
            <span class="yellow-line"></span>
            <h1 class="supra">What Differentiate Us</h1>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="p-margin">
                <p class="metro">
                  With aim to provide solution to every difficulty and obstacle in Redevelopment we are providing end to
                  end consultancy in orthodox method of development, Self-development and specially designed mode of
                  development which we name as “Limited Self-Development”. <br>
                  <span> “Conventional development” </span>is an orthodox mode of re-development where society appoints
                  suitable
                  developer to reach to their goal of redevelopment. Though it is well known form of redevelopment but
                  there are
                  many obstacles in this form of development and most prominent one is Transparency. It is common
                  practice that
                  society selects developer by comparing offers given by some developers. In order to overcome this
                  issue
                  firstly we structure the deal for society by adopting spectrum analysis method and thereafter we
                  proceed
                  with completely online tendering process to select developers. We have totally curtailed human
                  interference and influence in tendering process which enables society to select developer with
                  complete
                  impartiality and transparency. <br>
                  <span>Self-development</span> is mode of development where society themselves contribute to develop
                  their property
                  with the help of expert agencies. It is not hidden fact that self-development gives better returns to
                  the
                  members of the society and more than that in some cases it is not feasible for developers to re-
                  develop
                  some societies and then Self-development becomes necessity for such society, but despite of that, this
                  method has not held the strong roots in the market.
                </p>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="right-para">
                <p class="metro">
                   Out of many, one of the prominent reasons behind this is,
                  listless approach of bank to finance housing societies. It is also seen that in most of the housing
                  societies members are not physically as well as mentally prepared to take risk of taking task of
                  re-development on their shoulders. Considering many of such obstacles we have come-up with unique
                  solution
                  to raise funds partly through bank and party through self-contribution which limits the financial
                  burden
                  of society members. We have also engaged expert architects, civil engineers, contractors with us who
                  avail
                  their support to the society for self-development.<br>
                  <span>Limited self-development</span> is mode of development where society develop their property by
                  appointing
                  developer, with assured sale to the developers, this uniquely designed mode of re-development has
                  characteristics of conventional as well as self-development. With our specialized method of Spectrum
                  Analysis we structure the deal in such manner that society could be developed with minimum investment
                  on
                  the part of society members. This allows us to serve societies to secure development through mode of
                  Limited self-development.<br>
                  Certainly there are various difficulties in the re-development which some time render societies in
                  hopeless situation of non-possibility of re-development, but we assure you to take you to your destiny
                  of
                  redevelopment in either of three of modes of re-development.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="Characteristic-row">
      <div class="row">
        <div class="col-12">
          <div class="header-details">
            <span class="yellow-line"></span>
            <h1 class="supra">Our Characteristic Features</h1>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="p-margin">
                <p class="metro">
                  <span>Methodological approach:</span> With our expertise and also with support of our knowledge
                  partners, we have
                  taken deep insight of entire re-development process and thereby we have developed Standard operating
                  procedure which ensures every minute compliance to complete the redevelopment in timely manner. <br>
                  <span>Know your potential at first meet:</span> At the very first presentation we provide tentative
                  feasibility of project which includes financial viability of project, and technical feasibility. It also includes
                  structure of the deal with tentative increased area statement of each tenement and statement of other
                  benefits such as rent, shifting charges, corpus fund, and betterment funds. <br>
                  <span>Know project updates without gathering:</span> We understand that it is right of every member to
                  know progress of the redevelopment project however it is impractical to gather every time for getting
                  updates. No worries! Team castlers is here to support you, we keep society members updated by online
                  mechanism, each report we take and progress we make gets updated over dedicated web-page maintained
                  for society and all its members. <br>
                  <span>Firewalls:</span> The process of redevelopment is quite complicated as it involves moving entire
                  families from owned houses to rented houses and back to the new owned houses. This entire task is under a
                  shadow of risk of project failure, which is the most prominent reason why societies and their members
                  are hesitant towards the redevelopment of their properties. By causing “root cause analysis” of
                  various risk involved in redevelopment process we have developed firewall mechanism which ensures
                  hassle-free redevelopment of society. <br>
                  <span>Apple to Apple Comparison:</span> At early stage we cause comparative analysis of existing flats
                  on three
                  parameters i.e. physical carpet, Sanctioned Carpet and RERA carpet, and in consideration of this, we
                  conclude deal with developers on the basis of RERA carpet of existing flat to curtail carpet
                  discrepancies between old flat and new flat. <br>
                  <span> Technical feasibility:</span> Prior to appointment of developer we ascertain every minute
                  technical aspect
                  relating to re- development of the society to avoid project jams on technical grounds after
                  appointment of developer. <br>
                  <span>Increased area feasibility:</span> We ascertain increased area feasibility; to appreciate
                  whether increased
                  tenements can be accommodated in new building or not; we also resolve discrepancies if any regarding
                  increased area which brings utmost clarity on successful implementation of redevelopment scheme.
                </p>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="right-para">
                <p class="metro">
                  <span>Deal Structuring:</span> We understand that success and satisfaction are two different aspects and “deal
                  structuring” plays vital role in reaching goal of successful re-development with true satisfaction.
                  However as on today this crucial aspect is limited to eye on increased area, which in turn lead it
                  towards rigid approach, to resolve this issue we have come up with uniquely designed <span>“SPECTRUM
                  ANALYSIS METHOD”</span> which allows us to provide tailor-made offers to the society which suits best to
                  their needs. In spectrum analysis we consider seven facets namely 1) Road Width, 2) Market Price, 3)
                  Purchase Appetite of Society, 4) Society’s contribution, 5) Other benefits, 6) Project Cost 7) Net
                  profit ratio and by adjusting band width of each facet we formulate best suitable offer for society to
                  gain true satisfaction from successful re-development. <br>
                  <span>Transparent and impartial tendering process:</span> Transparency is our core value and for its practical
                  implementation, we help society in selecting developer through tendering process. We understand that
                  human interference always influence selection so with the help of our dynamic website we process
                  tenders of society through completely web-driven tendering process. <br>
                  <span>Financial scrutiny:</span> We believe financial soundness of developer is key factor in redevelopment process
                  so while selecting developers for society we guide society to secure their interest by optimizing
                  control over initial investment required for redevelopment project. <br>
                  <span>Standardized legal drafts:</span> understanding threats and needs of redevelopment; and also to harmonize
                  contractual obligations between society and developer, we have standardized several legal drafts such
                  as Memorandum of understanding Development Agreement, Agreement of Permanent alternate accommodation
                  etc. <br>
                  <span>Allotment of tenement:</span> we ensure to keep control of society in the allotment of new flats to its
                  members without intervention of developer. <br>
                  <span>Reinstating management &amp; accounts:</span> We have designed significant method to take over management of
                  new building as well as accounts from the developer to avoid disputes amongst society and developer.
                </p>
                <div class="Characteristic-img"> <img src="../../assets/images/pawns_02.png" alt="castlers pawns"></div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>