<div class="home-page-container">
    <section>
      <div class="update_member">
        <div class="container mt-3">
          <form>
            <div class="row jumbotron box8">
              <div class="col-sm-12 mx-t3 mb-4">
                <h2 class="text-center">Upload Society Members Directory</h2>
              </div>
              <div class="col-lg-4 col-md-6  form-group">
                <label class="metro" for="typeOfSociety">Select Society</label>
                <select id="typeOfSociety" [(ngModel)]="selectedsocietyid" class="form-control browser-default custom-select">
                  <option value="select" disabled selected> -Select Society- </option>
                  <option [value]="allsociety.registeredSocietyid" *ngFor="let allsociety of allregistersociety">{{allsociety.societyName}}</option>
                  <!-- <option value="limitedSelfSociety">Limited Self Society</option>
                  <option value="selfSociety">Self Society</option> -->
                </select>
              </div>       
              <div class="col-lg-8 col-md-6 form-group " style=" display: flex; justify-content: left; margin-top: 2rem;">
                <button (click)="export()" type="button" class="btn">Download Member Format</button> 
              </div>
              <div class="col-md-12" style="margin-top: 1rem;">
                <form action="">
                  <div class="row">
                    <div class="col-lg-4 col-md-6  form-group">
                      <label class="metro" for="importMembersFile" style="font-size: 1.4rem;">Import Members File</label>
                      <!-- <input type="text" class="form-control" name="chairmanName" id="chairmanName"
                        placeholder="Enter Youe File Name" required> -->
                    </div>
                    <div class="col-lg-4 col-md-6  form-group"> 
                      <!-- <label class="metro" for="chairmanNumber">Upload File</label> -->
                      <input type="file" (change)="onFileChange($event)" class="form-control" name="chairmanNumber" id="chairmanNumber"
                        placeholder="Enter Number" required>
                    </div>
                    <div class="col-lg-4 col-md-6  form-group mb-0" style=" display: flex; justify-content: center; ">
                      <button class="btn" type="button" (click)="showtable()" style="margin-bottom: 10px;">Add File</button> 
                    </div>
                  </div>
                  <table class="table" style="margin-top: 2rem;" *ngIf="show">
                    <!-- <thead>
                      <th>S.No</th>
                      <th>Name</th>
                      <th>E-mail Id</th>
                      <th>Contact Number</th>
                      <th>Action</th>
                    </thead> -->
                    <!-- <tbody> -->
                      <!-- <tr>
                        <td data-label="S.No">1</td>
                        <td data-label="Name">Dinesh Kelkar</td>
                        <td data-label="E-mailId">dinesh@gmail.com</td>
                        <td data-label="number">9876003322</td>
                        <td data-label="action">
                          <a href="" style="margin-right: 15px;"><i class="fa-regular fa-pen-to-square"></i></a>
                          <a href=""><i class="fa-regular fa-trash-can"></i></a>
                        </td>
                      </tr>
                  
                      <tr>
                        <td data-label="S.No">2</td>
                        <td data-label="Name">Rajesh Kumar</td>
                        <td data-label="E-mailId">rajesh@gmail.com</td>
                        <td data-label="number">9876456722</td>
                        <td data-label="action">
                          <a href="" style="margin-right: 15px;"><i class="fa-regular fa-pen-to-square"></i></a>
                          <a href=""><i class="fa-regular fa-trash-can"></i></a>
                        </td>
                      </tr> -->
                      <tbody>
                        <tr *ngFor="let row of data ;let i = index">
                        <td *ngFor="let val of row ">
                          {{val}}
                        </td>
                        <td data-label="action" *ngIf="i !=0">
                          <a style="margin-right: 15px;" (click)="edititem(i)"><img class="custom_icon" src="../../assets/images/pen-to-square-solid.svg"></a>
                          <a (click)="removeitem(i)"><img class="custom_icon" src="../../assets/images/trash-can-solid.svg"></a>
                        </td>
                      </tr>
                      </tbody>
                      <!-- </tbody> -->
                  </table>
                </form>
              </div>
              <!-- <div class="col-sm-12 form-group mb-0" style=" display: flex; justify-content: left; margin-top: 2rem;">
                <button class="btn">Update</button> 
              </div> -->
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>