<div class="home-page-container">
  <!-- <section> -->
  <section>
    <div class="second-row">
      <div class="redevelopment-main">
        <div class="leadership">
          <div class="development-head">
            <h1> <span class="re">Re</span>development</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-12 col-md-12 col-space">
            <p>Have you heard of <span> ‘ECDYSIS’?</span> No, it’s not the name of some strange medicine. Ecdysis, aka
              moulting, is
              the process where a snake sheds its skin. But why does a snake shed its skin? And why is this even being
              mentioned here? Let’s get into it:</p> <br>
            <p><span>1. </span>Like the skin of a snake becomes inadequate as the snake grows,
              similarly your building does not accommodate the FSI, amenities and facilities in the market as they grow.
            </p>

            <p><span>2.</span> The old skin of the snake is a home for pests which are not good for the health of the
              snake. Just
              like
              that, age and wear-and-tear are not good for the health of the building.</p>

            <p><span>3.</span> So, when it’s time, a snake sheds its skin to grow and live a long life. And for
              societies, this
              process
              of renewal and rejuvenation for a long life is redevelopment!</p>

            <p><span> One final science fact:</span> before the snake sheds its skin, it secretes a
              special fluid between the old and the new skin. The fluid ensures a smooth process of shedding skin. And
              that’s the role we play in the redevelopment of your society! We are <span>“CASTLERS”</span> .</p>

            <h5>REDEVELOPMENT IS SOCIAL REQUIREMENT</h5>
            <p>
              Redevelopment is not only right of the society but it is also a necessity of the City. In the edge of
              urbanization communities are growing day by day and city areas are getting more and more congested, as a
              result demand for new houses is rising but new houses are not available. Ultimately it gives rise to
              housing
              prices and only solution to this is Redevelopment.
            </p>
          </div>
          <div class="col-lg-6 col-sm-12 col-md-12 col-space">
            <div class="row row1">
              <div class="col-lg-7 col-sm-8 col-md-8 col-md-push-8 ">
                <h5>Benefits Of Redevelopment </h5>
                <p>
                  1. New structure <br>
                  2. Increased area<br>
                  3. New purchases @ concessional rate <br>
                  4. Source of revenue generation <br>
                  5. Upgraded amenities<br>
                  6. Value enhancement<br>
                  7. Adequate parking space <br>
                  8. Increased functional space <br>
                  9. Increased leaving space <br>
                  10. Latest security system<br>
                </p>
                <h5>What Are The Obstacles </h5>
                <p>
                  1. Wrong approach<br>
                  2. Lack of legal knowledge <br>
                  3. Lack of technical knowledge <br>
                  4. Lack of confidance<br>
                  5. Lack of transparency<br>
                  6. Lack of trust<br>
                  7. Vested interests<br>
                  8. Individula protest<br>
                  9. Encroachment by member<br>
                </p>
                <h5>Result of obstacles</h5>
                <p>
                  1. Delayed/no redevelopment <br>
                  2. Weak negotiations<br>
                  3. Less area<br>
                  4. Less amenities<br>
                </p>
              </div>
              <div class="col-lg-5 col-sm-4 col-md-4 col-md-pull-4">
                <div class="snake-img"><img src="../../assets/images/snake.png"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- </section> -->

  
  <!-- devlopers list -->
  <section>
    <div class="third-row ">
      <div class="listed-developer">
        <div class="col-12" style="padding:0px !important;">          
          <div class="img_container mx-auto rounded mx-auto d-block">
            <div class="leadership">
              <span class="yellow-line"></span>
              <h1>Listed Developers </h1>
            </div>
          </div>
          <div class="slider">
            <div class="slide-track">
              <div class="slide">
                <img src="../../assets/images/ASHTEKAR CONSTRUCTIONS Logo.png"  alt="" />
              </div>
              <div class="slide">
                <img src="../../assets/images/logo sascon.png"  alt="" />
              </div>
              <div class="slide">
                <img src="../../assets/images/Platinum 9 Logo.png"  alt="" />
              </div>
              <div class="slide">
                <img src="../../assets/images/Platinum Group Logo.png"  alt="" />
              </div>
              <div class="slide">
                <img src="../../assets/images/ASHTEKAR CONSTRUCTIONS Logo.png"  alt="" />
              </div>
              <div class="slide">
                <img src="../../assets/images/logo sascon.png"  alt="" />
              </div>
              <div class="slide">
                <img src="../../assets/images/Platinum 9 Logo.png"  alt="" />
              </div>
              <div class="slide">
                <img src="../../assets/images/Platinum Group Logo.png"  alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- devlopers list end -->

  <!-- ======= Clients Section ======= -->
  <section>
    <div class="fourth-row">
      <div class="row">
        <!-- <div class="col-1"></div>   -->
        <div class="col-12">
          <div class="row row-column">
            <div class="col-4">
              <img src="../../assets/images/Person.png" alt="">
            </div>
            <div class="col-8">
              <div class="header-details">
                <span class="yellow-line"></span>
                <h1>Counselling Like Never Before</h1>
              </div>
              <div class="content">
                <p>Counselling play vital role in every path of our life and especially when we are less equipped with
                  knowledge required for completing specialized task, and Redevelopment is one of such tasks which come
                  with multiple questions, threats and difficulties. But no worries! Team castlers is on their toes to
                  guide you to achieve success with satisfaction. With our methodological approach we have identified
                  various threat points in the process of redevelopment and in solution to that we are adopting tested
                  methods such as “spectrum analysis method” for fixing tailor-made offer for the societies which
                  ensures ultimate satisfaction to the members. We strongly believe that there is solution to every
                  problem and to make it possible we are counselling in orthodox mode of development selfdevelopment and
                  uniquely designed mode of limited self-development. To Understand needs of individual members we
                  ensure participation of each member to create trust and complete transparency in redevelopment of
                  society.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Clients Section -->

  <!-- Our Characteristic Features section start -->

  <section>
    <div class="Characteristic-row">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
          <div class="header-details">
            <span class="yellow-line"></span>
            <h1>Our Characteristic Features</h1>
          </div>
        </div>
        <div class="col-lg-12 col-sm-12 col-md-12 col-space">
          <div class="row row-reverse">
            <div class="col-lg-8 col-sm-12 col-md-12">
              <p><span> 1. Methodological approach:</span> With our expertise and also with support of our knowledge
                partners, we have
                taken deep insight of entire re- development process and thereby we have developed Standard operating
                procedure which ensures every minute compliance to complete the redevelopment in timely manner.</p>
              <p><span> 2. Know your potential at first meet:</span> At the very first presentation we provide tentative
                feasibility
                of project which includes financial viability of project, and technical feasibility. It also includes
                structure of the deal with tentative increased area statement of each tenement and statement of other
                benefits such as rent, shifting charges, corpus fund, and betterment funds.</p>
              <p><span> 3. Know project updates without gathering:</span> We understand that it is right of every member
                to know
                progress of the redevelopment project however it is impractical to gather every time for getting
                updates. No worries! Team castlers is here to support you, we keep society members updated by online
                mechanism, each report we take and progress we make gets updated over dedicated web-page maintained for
                society and all its members.</p>
              <p><span> 4. Firewalls:</span> The process of redevelopment is quite complicated as it involves moving
                entire families
                from owned houses to rented houses and back to the new owned houses. This entire task is under a shadow
                of risk of project failure, which is the most prominent reason why societies and their members are
                hesitant towards the redevelopment of their properties. By causing "root cause analysis" of various risk
                involved in redevelopment process we have developed firewall mechanism which ensures hassle-free
                redevelopment of society.</p>
              <p><span> 5. Apple to Apple Comparison:</span> At early stage we cause comparative analysis of existing
                flats on three
                parameters i.e. physical carpet, Sanctioned Carpet and RERA carpet, and in consideration of this, we
                conclude deal with developers on the basis of RERA carpet of existing flat to curtail carpet
                discrepancies between old flat and new flat.</p>
              <p><span> 6. Technical feasibility:</span> Prior to appointment of developer we ascertain every minute
                technical aspect
                relating to re-development of the society to avoid project jams on technical grounds after appointment
                of developer.</p>
            </div>
            <div class="col-lg-4 col-sm-12 col-md-12" style="display: grid;justify-content: center;     margin-bottom: 2rem;">
              <img src="../../assets/images/king.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-sm-12 col-md-12 col-space">
          <div class="row">
            <div class="col-lg-4 col-sm-12 col-md-12 elephant" style="display: grid;justify-content: center;    margin-bottom: 2rem;">
              <img src="../../assets/images/elephant.png" alt="">
            </div>
            <div class="col-lg-8 col-sm-12 col-md-12">
              <p>
                <span>7. Increased area feasibility: </span>We ascertain increased area feasibility; to appreciate
                whether increased tenements can be accommodated in new building or not; we also resolve discrepancies if
                any regarding increased area which brings utmost clarity on successful implementation of redevelopment
                scheme.
              </p>
              <p><span>8. Deal Structuring:</span> We understand that success and satisfaction are two different aspects
                and "deal structuring" plays vital role in reaching goal of successful re-development with true
                satisfaction. However as on today this crucial aspect is limited to eye on increased area, which in turn
                lead it towards rigid approach, to resolve this issue we have come up with uniquely designed "SPECTRUM
                ANALYSIS METHOD" which allows us to provide tailor-made offers to the society which suits best to their
                needs. In spectrum analysis we consider seven facets namely 1) Road Width, 2) Market Price, 3) Purchase
                Appetite of Society, 4) Society's contribution, 5) Other benefits, 6) Project Cost 7) Net profit ratio
                and by adjusting band width of each facet we formulate best suitable offer for society to gain true
                satisfaction from successful re-development.
              </p>
              <p><span>9. Transparent and impartial tendering process: </span>Transparency is our core value and for its
                practical implementation, we help society in selecting developer through tendering process. We
                understand that human interference always influence selection so with the help of our dynamic website we
                process tenders of society through completely web-driven tendering process.
              </p>
              <p><span>10. Financial scrutiny: </span>We believe financial soundness of developer is key factor in
                redevelopment process so while selecting developers for society we guide society to secure their
                interest by optimizing control over initial investment required for redevelopment project.</p>
              <p><span>11. Standardized legal drafts:</span> understanding threats and needs of redevelopment; and also
                to harmonize contractual obligations between society and developer, we have standardized several legal
                drafts such as Memorandum of understanding Development Agreement, Agreement of Permanent alternate
                accommodation etc.
              </p>
              <p><span>12. Allotment of tenement:</span> we ensure to keep control of society in the allotment of new
                flats to its members without intervention of developer.
              </p>
              <p><span>13. Reinstating management & accounts:</span> We have designed significant method to take over
                management of new building as well as accounts from the developer to avoid disputes amongst society and
                developer.
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Characteristic Features section End -->

  <!-- Why Castler Start -->

  <section>
    <div class="why-castler">
      <div class="row">
        <div class="col-lg-7 col-sm-12 col-md-7  col-why-castler">
          <div >
            <div class="col-lg-12 col-sm-12 col-md-12">
              <span class="yellow-line"></span>
              <h1 class="metro">Benefits To The Society</h1>
              <p class="metro">
                Team castlers is committed to provide end to end services to the societies in the process of re-development.
                Our aim is to empower society to claim true benefits they deserves for and for that, with our systematic and
                methodological approach, we get legal and technical clearance as first step towards redevelopment. Our well
                defined standard operating procedure helps society for causing due diligence at every stage of redevelopment
                to ensure hassle-free progress of redevelopment. We structure deals for thesociety by following uniquely
                designed spectrum analysis method which helps us to provide customized offers for the society. Ensuring
                complete transparency by adopting online tendering method for selection of Developer. We are one stop
                solution for the society to enable them to reach their dream home in time bound manner.
              </p>
            </div>  
            <div class="col-lg-12 col-sm-12 col-md-12">
              <img src="../../assets/images/Building.png" alt="">
            </div>            
          </div>            
        </div>
        <div class="col-lg-4 col-sm-12 col-md-4 col-castler">
          <h1 class="metro">Why Castlers</h1>
          <p class="metro">We are L A S T R E S O U R C E for successful Redevelopment</p>
          <p class="metro">
            L. Legal guidance<br>
            A. Architectural guidance<br>
            S. Surveillance over construction<br>
            T. Transperancy<br>
            R. Risk management<br>
            E. Equitible solutions<br>
            S. Secured development<br>
            O. One window approach<br>
            U. Unique &amp; customised development<br>
            R. Resource management<br>
            C. Centralised communication system<br>
            E. Evenhanded fiscal management<br>
          </p>
          <h3 class="gotham_medium" style="color: #c5ad9a;">Services To The Society:</h3>
          <!-- <p  class="gotham_medium">SERVICES TO THE SOCIETY:</p> -->
          <p class="metro">
            1. Tentative feasibility report <br>
            2. Standardized compliances <br>
            3. End to end legal services <br>
            4. Technical survey report <br>
            5. Flat area assessment report <br>
            6. Block diagram feasibility report <br>
            6. Financial feasibility report <br>
            7. Methodological deal structuring <br>
            8. Increased area feasibility report <br>
            9. Standardized legal drafts <br>
            10. Technical audit report of new building <br>
            11. Post development compliances <br>
          </p>          
        </div>        
      </div>
    </div>
  </section>

  <!-- Why Castler End -->


  <!-- Footer Start -->
  <!-- <section class="footer " style="background-color: #606879;">
    <div class="container">
      <div class="row row-sixth">
        <div class="footer-content">
          <div class="foter-details">
            <div class="container">
              <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                  <div class="logo-section">
                    <div class="logo">
                      <a href="#">
                        <img src="../../assets/images/castlers_logoNew.png" alt="">
                      </a>
                    </div>
                    <div class="details">
                      <div class="details-data "><i class="fa fa-phone"></i><a href="#" class="gotham_medium">(020) - 24534388</a></div>
                      <div class="details-data "><i class="fa fa-envelope"></i><a href="#" class="gotham_medium">info@castlers.co.in</a></div>
                      <div class="details-data gotham_medium"><i class="fa fa-map-marker"></i>60 East 65th Street, New York</div>
                    </div>                    
                  </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                  <div class="head-details">
                    <h4>Services</h4>
                  </div>
                  <div class="service-data">
                    <ul>
                      <li class=""><a href="#" class="gotham_medium">Project Planning</a></li>
                      <li class=""><a href="#" class="gotham_medium">Feasibility Study</a></li>
                      <li class=""><a href="#" class="gotham_medium">Project Funding</a></li>
                      <li class=""><a href="#" class="gotham_medium">Project Plan Review</a></li>
                      <li class=""><a href="#" class="gotham_medium">Investor Presentation and implementation</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                  <div class="head-details">
                    <h4>Solutions</h4>
                  </div>
                  <div class="service-data">
                    <ul>
                      <li class=""><a href="#" class="gotham_medium">Compare Solutions</a></li>
                      <li class=""><a href="#" class="gotham_medium">Standard Plan - ₹499</a></li>
                      <li class=""><a href="#" class="gotham_medium">Plus Plan - ₹799</a></li>
                      <li class=""><a href="#" class="gotham_medium">Premium Plan - ₹999</a></li>
                      <li class=""><a href="#" class="gotham_medium">Pro Plan - ₹1399</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                  <div class="head-details">
                    <h4>Connect</h4>
                  </div>
                  <div class="social-link">
                    <div class="row">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                  </div>
                  <p class="gotham_medium">
                    We bring the years, globle experience and stamina to guide our clients through new and often
                    disruptive realities.
                  </p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      
    </div>
    <div class="footer-bottom" style="background-color: black;margin-top: 3rem;padding: 1rem 0;">
      <div class="row">
        <div class="col-lg-6 col-padd-footer">
          <h6 class="rowcenter">@2023 castlers. All rights Reserved</h6>
        </div>
        <div class="col-lg-6 col-padd-footer">
          <h6 class="rowcenter gotham_medium"><a href="#" >Privacy Policy</a> </h6>
        </div>
      </div>
    </div>
  </section> -->
  <!-- Footer End -->
</div>