<div class="home-page-container">
  <section>
    <div class="developer_form">
      <div class="container mt-3">
        <form>
          <div class="row jumbotron box8">
            <div class="col-sm-12 mx-t3 mb-4">
              <h2 class="text-center">Update Information of Society</h2>
            </div>
            <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="societyName">Society Name</label>
              <input type="text" class="form-control" name="societyName" id="societyName"
                placeholder="Enter your Society Name" required>
            </div>
            <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="societyRegistrationNumber">Society Registration Number</label>
              <input type="text" class="form-control" name="societyRegistrationNumber" id="societyRegistrationNumber"
                placeholder="Enter your society Registration Number" required>
            </div>
            <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="address">Address of Society</label>
              <input type="text" class="form-control" name="address" id="address" placeholder="Enter Society address" required>
            </div>
            <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="age">Age of building</label>
              <input type="text" class="form-control" name="age" id="age" placeholder="Enter Building age" required>
            </div>
            <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="existingMemberCount">Existing Member Count</label>
              <input type="text" class="form-control" name="existingMemberCount" id="existingMemberCount"
                placeholder="Enter your Existing Member" required>
            </div>
            
            <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="emailSociety">E-mail ID of Society</label>
              <input type="text" class="form-control" name="emailSociety" id="emailSociety"
                placeholder="Enter Email ID" required>
            </div>
            <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="typeOfDevelopment">Type Of Development</label>
              <select id="typeOfDevelopment" class="form-control browser-default custom-select">
                <option value="select" disabled selected> -Select Type of Development- </option>
                <option value="regularDevelopment">Regular Development</option>
                <option value="limitedSelfDevelopment">Limited Self Development</option>
                <option value="selfDevelopment">Self Development</option>
              </select>
            </div>       
            <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="typeOfTrety">Type Of Trety</label>
              <select id="typeOfTrety" class="form-control browser-default custom-select">
                <option value="select" disabled selected> -Select Type of Trety- </option>
                <option value="privateTrety">Private Trety</option>
                <option value="tendering">Tendering</option>
              </select>
            </div>       
            <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="age">Office Bearers of Society</label>
              <select id="age" class="form-control browser-default custom-select">
                <option value="select" disabled selected> -Select Type of Bearers- </option>
                <option value="chairmen">Chairmen </option>
                <option value="secretory"> Secretory </option>
                <option value="treasurer"> Treasurer </option>                
                <option value="member">Member </option>                
              </select>
            </div>
            <div class="col-md-12">
              <form action="">
                <div class="row">
                  <div class="col-lg-3 col-md-6  form-group">
                    <label class="metro" for="chairmanName">Name</label>
                    <input type="text" class="form-control" name="chairmanName" id="chairmanName"
                      placeholder="Enter Name" required>
                  </div>
                  <div class="col-lg-3 col-md-6  form-group">
                    <label class="metro" for="chairmanEmailID">Email ID </label>
                    <input type="text" class="form-control" name="chairmanEmailID" id="chairmanEmailID"
                      placeholder="Enter Email ID" required>
                  </div>
                  <div class="col-lg-3 col-md-6  form-group">
                    <label class="metro" for="chairmanNumber">Number</label>
                    <input type="text" class="form-control" name="chairmanNumber" id="chairmanNumber"
                      placeholder="Enter Number" required>
                  </div>
                  <div class="col-sm-3 form-group mb-0" style=" display: flex; justify-content: center; padding: 2rem 0;">
                    <button class="btn">Add</button> 
                  </div>
                </div>
                <table class="table">
                  <thead>
                    <th>S.No</th>
                    <th>Type of Bearers</th>
                    <th>Name</th>
                    <th>E-mail Id</th>
                    <th>Number</th>
                    <th>Action</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td data-label="S.No">1</td>
                      <td data-label="bearers">Chairmen</td>
                      <td data-label="Name">Dinesh Kelkar</td>
                      <td data-label="E-mailId">dinesh@gmail.com</td>
                      <td data-label="number">9876003322</td>
                      <td data-label="action">
                        <a href="" style="margin-right: 15px;"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a href=""><i class="fa-regular fa-trash-can"></i></a>
                      </td>
                    </tr>
                
                    <tr>
                      <td data-label="S.No">2</td>
                      <td data-label="bearers">Secretory</td>
                      <td data-label="Name">Rajesh Kumar</td>
                      <td data-label="E-mailId">rajesh@gmail.com</td>
                      <td data-label="number">9876456722</td>
                      <td data-label="action">
                        <a href="" style="margin-right: 15px;"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a href=""><i class="fa-regular fa-trash-can"></i></a>
                      </td>
                    </tr>
                    </tbody>
                </table>
              </form>
            </div>
            
            <!-- <div class="col-sm-12" style="margin-bottom: 1rem;">
              <input type="checkbox" class="form-check d-inline" id="updateSocietyDetails" required>
              <label for="updateSocietyDetails" class="form-check-label">Please checked, If you want to update details of Society.</label>
            </div> -->
            
            <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="sizeOfPlot">Size of Plot</label>
              <input type="text" class="form-control" name="sizeOfPlot" id="sizeOfPlot"
                placeholder="Enter size in Sq. meter" required>
            </div>
            <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="plotDimensions">Plot Dimensions</label>
              <input type="text" class="form-control" name="plotDimensions" id="plotDimensions"
                placeholder="Enter Dimension in meter" required>
            </div>
            <!-- <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="totalCarpetBldgArea">Carpet Area of Building</label>
              <input type="text" class="form-control" name="totalCarpetBldgArea" id="totalCarpetBldgArea"
                placeholder="Enter Total Carpet Area" required>
            </div> -->
            <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="usedfor">Use of existing building</label>
              <select id="usedfor" class="form-control browser-default custom-select">
                <option value="select" disabled selected> -Select Your Purpose- </option>
                <option value="commercialuse">Commercial Use</option>
                <option value="residentialuse">Residential Use</option>
                <option value="mixeduse">Mixed Use</option>
              </select>
            </div>
            <div class="col-lg-4 col-md-6 form-group">
              <label class="metro" for="noOfWings">Number of Wings</label>
              <input type="text" class="form-control" name="noOfWings" id="noOfWings"
                placeholder="Enter Number of Wing" required>
            </div>
            <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="numberOfCommercialTenaments">Existing Commercial Tenaments</label>
              <input type="text" class="form-control" name="numberOfCommercialTenaments" id="numberOfCommercialTenaments"
                placeholder="Enter Number of Tenaments" required>
            </div>
            <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="numberOfResidentialTenaments">Existing Residential Tenaments</label>
              <input type="text" class="form-control" name="numberOfResidentialTenaments" id="numberOfResidentialTenaments"
                placeholder="Enter Number of Tenaments" required>
            </div>
            <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="totalCommercialBuiltUpBldgArea">Existing Commercial Builtup Area</label>
              <input type="text" class="form-control" name="totalCommercialBuiltUpBldgArea" id="totalCommercialBuiltUpBldgArea"
                placeholder="Enter Commercial Built Up Area" required>
            </div>
            <div class="col-lg-4 col-md-6  form-group">
              <label class="metro" for="totalResidentialBuiltUpBldgArea">Existing Residential Builtup Area</label>
              <input type="text" class="form-control" name="totalResidentialBuiltUpBldgArea" id="totalResidentialBuiltUpBldgArea"
                placeholder="Enter Residential Built Up Area" required>
            </div>
            <div class="col-lg-4 col-md-6 form-group">
              <label class="metro" for="totalBuiltArea"> Total built-up area</label>
              <input type="text" class="form-control" name="totalBuiltArea" id="totalBuiltArea"
                placeholder="Enter Total Built Area" required>
            </div>
            <div class="col-lg-4 col-md-6 form-group">
              <label class="metro" for="approchRoadWidth">Width of Approach Road </label>
              <input type="text" class="form-control" name="address" id="approchRoadWidth"
                placeholder="Enter Width in meter" required>
            </div>
            <!-- <div class="col-sm-12">
              <input type="checkbox" class="form-check d-inline" id="chb" required><label for="chb"
                class="form-check-label">I accept all terms and conditions.
              </label>
            </div> -->
            <div class="col-sm-12 form-group mb-0" style=" display: flex; justify-content: left; margin-top: 2rem;">
              <button class="btn">Update</button> 
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>